.sidebarOptions {
    display: flex;
    flex-direction: column;
}

.sidebarOption {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarOption:hover {
    background-color: rgb(0, 144, 144);
    border-radius: 5px;
}

.sidebarOption > img {
    height: 60px;
    width: 60px;
    margin-left: 20px;
    border-radius: 5px;
}

.sidebarOption > p {
    color: rgb(174, 174, 174);
    font-weight: 400;
    margin-left: 10px;
}

.sidebarOption > .MuiSvgIcon-root {
    color: rgb(0, 144, 144);
    font-size: medium;
    margin-left: 20px;
}
